@font-face {
    font-family: 'sajat';
    src: url('../assets/Font.ttf');
}

body {
    background: black;
    font-family: 'sajat', sans-serif;
}

.fixedButton {
    position: fixed;
    top: 10px;
    right: 10px;
}

h1 {
    color: yellow;
    text-align: center;
}

.paragraphs {
    color: white;
    font-size: xx-large;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.buyButtons {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#backButton {
    font-family: 'sajat', sans-serif;
    font-size: xx-large;
    padding: 15px;
}

#buy1 {
    font-family: 'sajat', sans-serif;
    font-size: xx-large;
    padding: 15px;
}

#buy2 {
    font-family: 'sajat', sans-serif;
    font-size: xx-large;
    padding: 15px;
}

#buy3 {
    font-family: 'sajat', sans-serif;
    font-size: xx-large;
    padding: 15px;
}